.NextMeetup {
  background: #F64060;
  text-align: left;
  display: block;
  padding: 15px 15px;
  margin: 0 15px 25px 15px;
  text-decoration: none;
}

.NextMeetup .text--label {
  text-transform: uppercase;
  stroke: transparent;
  font-weight: bold;
  fill: #fff;
  color: #fff;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: -.02em;
  word-spacing: .1em;
  padding: 10px 0;
  border-bottom: solid #fff 1px;
}

.NextMeetup .heroPrimary {
  font-size: 34px;
  text-transform: none;
  line-height: 1.25;
  stroke: transparent;
  fill: #fff;
  color: #fff;
  text-align: left;
  margin: 10px 0 5px 0;
}

.NextMeetup .meta {
  color: #fff;
  font-size: 13px;
  line-height: 1.6;
  font-weight: bold;
}
