.Event {
}

.Event .button {
  background-color: #0fd9a3;
  font-weight: bold;
}

.Event-eventNavigation {
  margin: 0 15px;
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
}
.Event-eventNavigation-button {
  text-align: center;
  background: #0fd9a321;
  color: #0fd9a3;
  padding: 5px;
  min-width: 25px;
  min-height: 25px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}
.Event-eventNavigation-button:hover,
.Event-eventNavigation-button:active,
.Event-eventNavigation-button:focus {
  color: #fff;
  background: #0fd9a3;
}
